.promo {
  width: 100%;
  height: 361px;
  margin: 0;
  display: flex;
}

.carousel__container {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: calc(100% - 364px);
}

.carousel {
  display: flex;
  height: 100%;
}

.carousel__item {
  width: 100%;
}

.popular-categorise {
  width: 364px;
  height: 100%;
  flex-basis: 364px;
  display: flex;
  flex-wrap: wrap;
}

.popular-categorise__item {
  width: 180px;
  height: 180px;
  border: 1px solid #E2E2E2;
  border-spacing: 0;
  padding: 0;

  &:hover {
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 15%);
    z-index: 1;
  }
}

.popular-category__title {
  font-family: 'Futura', Arial, sans-serif;
  font-size: 18px;
  margin: 2px;
  align-self: flex-start;
}

.popular-categorise__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 7px 13px;
  height: 166px;
  cursor: pointer;
  text-decoration: none;
  color: #1a1a1a;
}

.popular-categorise__img {
  max-height: 80%;
  max-width: 80%;
  width: auto;
  height: auto;
}

.carousel-slider {
  overflow: hidden;
  position: relative;
  height: 361px;
  width: 100%;
}

.carousel-indicators {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 5;
}

.carousel-indicator {
  position: relative;
  color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transition: all 500ms cubic-bezier(0, 0, 0.58, 1);
  margin-right: 5px;

  &:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
  }

  &_active:after {
    background-color: #d62761;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.carousel-slide {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: block;

  &_active {
    z-index: 2;
  }
  &_hide {
    mask: url('../../../../assets/slider-sprite.png');
    mask-size: 3000% 100%;
    mask-position: 0 0;
    animation: mask-play 1.1s steps(29) forwards;
    z-index: 3;
  }
}

@keyframes mask-play {
  from {
    mask-position: 0 0;
  }

  to {
    mask-position: 100% 0;
  }
}

.carousel-slide-image {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.carousel-slide-content {
  height: 100%;
  position: relative;
  padding-left: 2rem;
}