<div *ngIf="category && subcategory" class="product-page">
  <div class="wrapper product-page__wrapper">
    <div class="category-path">
      <ul class="category-path__list">
        <li class="category-path__item item__first">
          <a href="/" class="category-path__link" title="На главную">Главная</a>
        </li>
        <li class="category-path__item">
          <a href="/category" class="category-path__link">{{ category.name }}</a>
        </li>
        <li class="category-path__item">
          <a href="/subcategory" class="category-path__link">{{ subcategory.name }}</a>
        </li>
      </ul>
    </div>
    <ng-container *ngIf="product">
      <h1 class="product-page__title">{{ product.name }}</h1>
      <div class="product-tools">
        <span class="product-tools__item">
          <a>
            <span class="product-tools__title">Добавить в избранное</span>
          </a>
        </span>
      </div>
      <div class="product-wrapper">
        <div class="product">
          <div class="product-photo">
            <div class="product-photo__wrapper">
              <div class="product-photo__left-column">
                <div class="product-photo__fotorama">
                  <div class="product-photo_little" 
                    *ngFor="let photoSrc of product.imageUrls; let i = index"
                    [ngClass]="{photo_little_selected: i === selectedPhotoIndex}"
                    (click)="switchPhoto(i)">
                    <img [src]="photoSrc"/>
                  </div>
                </div>
              </div>
              <div class="product-photo__right-column">
                <img [src]="product.imageUrls[selectedPhotoIndex]">
              </div>
            </div>
          </div>
        </div>
        <div class="info-block">
          <div class="info-block__top">
            <div class="price-block">{{product.price}}<span>р.</span></div>
            <div *ngIf="!product.isInCart" class="to-basket-btn" (click)="addToBasket(product)">В корзину</div>
            <div *ngIf="product.isInCart" class="to-basket-btn_true">В корзинe</div>
          </div>
          <div *ngIf="product.availableAmount" class="exist-block">В наличии</div>
          <div *ngIf="!product.availableAmount" class="exist-block_none">Нет в наличии</div>
        </div>
      </div>
      <div class="description-block">
        <h5 class="description-block__title">Описание товара</h5>
        <p>{{product.description}}</p>
        </div>
    </ng-container>
  </div>
</div>