.product-page {
  margin-top: 32px;
}

.product-page__wrapper {
  display: block;
}

.category-path {
  list-style: none;
}

.category-path__list {
  list-style: none;
  display: flex;
}

.category-path__item {
  padding: 0 .5em 0 .75em;
  line-height: 1;
  display: inline-block;
  padding: 0 .5em 0 .75em;
  background: url('../../../assets/separator.gif') no-repeat 0 100%;
  line-height: 1;
}

.item__first {
  padding-left: 0;
  background: none;
}

.category-path__link {
  font-size: 11px;
  color: #717171;

  &:hover {
    color: #d62761;
    cursor: pointer;
  }
}

.product-page__title {
  clear: both;
  padding: 18px 0 4px;
  font-size: 30px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0;
  margin-bottom: 4px;
}

.product-tools {
  line-height: 19px;
  text-align: center;
}

.product-tools__item {
  float: left;
  margin-right: 0;
  font-size: 12px;

  a {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding-left: 24px;
    text-decoration: none;
    background: url("../../../assets/i-rate.png")no-repeat 0 0px;
  }
}

.product-tools__title {
  color: #0072BC;
  border-bottom: 1px dotted rgba(0, 114, 188, 0.5);
  cursor: pointer;
  pointer-events: auto;  
}

.product-wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
}

.product {
  width: 70%;
}

.product-photo {
  width: 100%;
}

.buy-info {
  width: 40%;
}

.product-photo__wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  margin-bottom: 32px;
}

.product-photo__left-column {
  visibility: visible;
  width: 70px;
  height: 404px; 
  overflow: hidden;
  background-color: white;
  padding-top: 5px;
  text-align: center;
  min-height: 18px;
  font-size: 0;
  line-height: 0;
}

.product-photo__fotorama {
  transition-duration: 333ms;
  transform: translate(0px, 5px);
}

.product-photo_little {
  width: 50px;
  height: 50px;
  border: 1px solid #e6e6e6;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 5px 0;
  cursor: pointer;

  img {
    max-height: 50px;
    max-width: 50px;
  }
}

.photo_little_selected {
  transition-duration: 333ms;
  transform: translate(0px, 0px);
  border-color: #0072BC;
}

.product-photo__right-column {
  width: 600px;
  display: flex;
  height: 470px;
  align-items: center;
  justify-content: center;
  border-bottom: .5px solid grey;
  margin-left: 20px;

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.info-block {
  width: 40%;
}

.to-basket-btn_true {
  margin: 0 auto;
  margin-bottom: 8px;
  width: 150px;
  display: block;
  height: 31px;
  line-height: 29px;
  font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 0;
  background: #ffffff;
  color: #EA1653;
  border: 2px solid #EA1653;
}

.to-basket-btn {
  margin: 0 auto;
  margin-bottom: 12px;
  width: 150px;
  display: block;
  height: 31px;
  background: #EA1653;
  line-height: 29px;
  font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 0;
}

.price-block {
  font-size: 30px;
  line-height: 39px;
  display: inline-block;
  color: #000000;
}

.info-block__top {
  display: flex;
  justify-content: space-between;
}

.exist-block {
  padding-left: 24px;
  background: url("../../../assets//i-item.png") no-repeat 0 0;
  line-height: 20px !important;
  display: block;
  color: #AA90A5;
  font-size: 15px;
  margin-top: 15px;
}

.description-block {
  max-width: 70%;
  margin-bottom: 30px;
  border-top: 1px solid #BC1F6E;
  padding-right: 20%;
  line-height: 15px;
  font-size: 14px;
  padding-top: 32px;
}

.description-block__title {
  padding: 0 0 18px 18px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}