$header-bg-color: #f7f8fa;
$header-text-color: #1a1a1a;

.header {
  width: 100%;
  height: 173px;
  background-color: $header-bg-color;
  font-size: 14px;
  line-height: 20px;
  color: $header-text-color;
  z-index: 11;
  position: relative;
}

.header__info-block {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid rgba(213,215,219,0.4);
  display: flex;
}

.wrapper_header {
  justify-content: flex-end;
  position: relative;
}

.location-btn {
  margin-right: auto;
  background-color: $header-bg-color;

  &:hover {
    color: #d62761;
  }
}

.location-btn__svg {

  svg {
    margin: 0 7px 0 3px;
  }

  path {
    &:hover {
      fill: #d62761;
    }
  }
}

.nav, .comunication-block {
  list-style: none;
  display: flex;
  align-items: center;
}

.comunication-block {
  padding: 0;
  padding-left: 12px;
}

.comunication-block, .working-time-block {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    height: 16px;
    margin-top: -8px;
    border-left: 1px solid #d5d7db;
  }
}

.nav__item {
  margin-right: 12px;

  &:hover {
    color: #d62761;
    cursor: pointer;
  }
}

.nav__button {
  background-color: $header-bg-color;
  position: relative;
  padding-right: 17px;
  
  &::after {
    content: " ";
    position: absolute;
    top: 6px;
    right: 0;
    border: 4px solid transparent;
    border-top: 5px solid $header-text-color;
  }

  &:hover {
    color: #d62761;

    &::after {
      border-top: 5px solid #d62761;
    }
  }
}

.viber {

  svg {
    margin-right: 2px;
    color: #7c53a6;
  }

  :hover {
    path {
      fill: #d62761;
    }
  }
}

.viber-link, .nav__item_phone {
  display: flex;
  align-items: center;
}

.nav__item_phone {
  margin-right: 12px;

  svg {
    margin-right: 2px;
  }
}

.working-time-block {
  position: relative;
  display: flex;
  align-items: center;
  height: 28px;
  padding-left: 13px;
  color: #909399;
}

.working-time-info {
  min-width: 74px;
  margin-left: 2px;
  font-size: 10px;
  line-height: 14px;
}

.communication-drop-down {
  font-family: Helvetica, sans-serif;
  min-width: 224px;
  padding: 12px 0;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 4px 12px 0 rgb(41 44 51 / 12%), 0 2px 2px 0 rgb(41 44 51 / 4%);
  z-index: 15;
  position: absolute;
  top: 37px;
  left: 74%;
}

.communication-drop-down__item {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  box-sizing: border-box;
  height: 30px;
  transition: .2s ease;
  padding: 3px 16px;
}

.communication-drop-down__list {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
}