.category-page {
  margin-top: 32px;
  padding-bottom: 54px;
}

.basket-page__wrapper {
  display: block;
  font-family: Arial, sans-serif;
}

.category-page__title {
  padding-bottom: 4px;
  font-size: 30px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.to-main__link {
  float: left;
  line-height: 29px;
  font-size: 14px;
  color: #0072BC;
  outline: none;
}