.navigation-block {
  width: 100%; 
}

.navigation-block-wrapper {
  display: flex;
  align-items: center;
  min-width: 941px;
  max-width: 1090px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  color: #1a1a1a;
  padding: 24px 2.2%;
}

.logotype {
  margin-right: 13px;
}

.catalog-btn {
  border: 1px solid #d5d7db;
  display: flex;
  align-items: center;
  min-width: 161px;
  height: 42px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 40px;
  margin-right: 8px;
  background: #f7f8fa;
  transition: .2s ease;

  &:hover {
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(23,35,38,0.05);
  }
}

.catalog-btn__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #e52e6b;
  margin: 8px 6px 8px 8px;
  border-radius: 50%;
  overflow: hidden;
}

.catalog-btn__icon_part {
  height: 50%;
  width: 50%;
  position: relative;
}

.part_one, .part_two, .part_three, .part_four {
  width: 4px;
  height: 4px;
  background: #fff;
  position: absolute;
}

.part_one {
  bottom: .5px;
  right: .5px;
}

.part_two {
  bottom: .5px;
  left: .5px;
}

.part_three {
  top: .5px;
  right: .5px;
}

.part_four {
  top: .5px;
  left: .5px;
}

.search-field {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
}

.search-field-wrap {
  position: relative;
  margin: 0;
  border-radius: 80px;
  background: #fff;
  box-shadow: 0 2px 4px rgb(23 35 38 / 5%);
  box-sizing: border-box;
  border: 0;
  height: 42px;
}

.search-field-wrap__submit {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 14px;
  height: 14px;
  border: 0;
  background: none;
  color: #ABAEB3;
  z-index: 1;
  transition: color .2s ease;
}

.search-field__form {
  box-sizing: border-box;
}

.search-field__input {
  display: block;
  width: 100%;
  padding: 6px 42px 12px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  outline: none;
  border: none;
  background: transparent;
  color: #1A1A1A;
  box-sizing: border-box;
}

.user-account {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  display: block;
  margin: 0 8px;
  color: #1a1a1a;
  box-sizing: border-box;
}

.user-account__toogler {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 8px 32px 8px 8px;
  font-size: inherit;
  line-height: inherit;
  border-radius: 80px;
  border: 1px solid rgba(213,215,219,.6);
  background: transparent;
  cursor: pointer;
  color: inherit;
  transition: .2s ease; 

  &::before {
    content: " ";
    position: absolute;
    top: 18px;
    right: 16px;
    border: 4px solid transparent;
    border-top: 5px solid;
  }

  &:hover {
    border-color: transparent;
    background: #fff;
    box-shadow: 0 2px 4px rgba(23,35,38,0.05);
    color: #1a1a1a;
  }
}

.user-account__icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

.user-account__text {
  min-width: 51px;
  padding-bottom: 2px;
  box-sizing: border-box;
}

.header-basket {
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 20px;
  color: #1a1a1a;
}

.header-basket-box {
  display: flex;
  align-items: center;
  padding: 10px 17px 10px 12px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: inherit;
  line-height: inherit;
  border-radius: 80px;
  border: 1px solid rgba(213, 215, 219, 0.6);
  background: transparent;
  color: inherit;
  user-select: none;
  transition: .2s ease;

  &:hover {
    border-color: transparent;
    background: #fff;
    box-shadow: 0 2px 4px rgba(23,35,38,0.05);
    color: #1a1a1a;
  }
}

.header-basket-icon {
  position: relative;
  display: block;
  height: 16px;
  margin-right: 7px;  
}

.header-basket__label {
  display: block;
  box-sizing: border-box;
}

.search-results-pop-up__list {
  display: block;
  width: 537px;
  max-width: 445px;
  margin-top: 4px;
  margin-left: 28px;
  padding: 0;
  text-shadow: none;
  box-shadow: rgb(0 0 0 / 20%) 0 0 8px;
  border-bottom: 1px solid #e2e2e2;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  color: #252525;
  border: 1px solid #bebebe;
  border-top: none;  
}

.search-results-pop-up__item,
.search-results-pop-up__item_category {
  position: relative;
  z-index: 1001;
  cursor: pointer;
  background: #fff;
  box-sizing: border-box;
  list-style-type: none;
}

.search-results-pop-up__link,
.search-results-pop-up__link_category {
  color: #0072bc;
  border: 1px solid #fff;
  border-bottom-color: #e2e2e2;
  display: block;
  padding: 12px;
  overflow: hidden;

  &:hover {
    border-width: 1px;
    border-color: #902789;
  }
}

.search-results-pop-up__link_category {
  background: palevioletred;
}

.search-field__clear {
  position: absolute;
  top: 12px;
  right: 12px;
  display: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0;
  text-indent: -9999px;
  background: rgba(171, 174, 179, .6);
  cursor: pointer;
  display: block; 

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -4px;
    display: block;
    width: 8px;
    height: 1.6px;
    transform: rotate(45deg);
    background: #fff;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -4px;
    display: block;
    width: 8px;
    height: 1.6px;
    transform: rotate(135deg);
    background: #fff;
  }
}